*{
    margin: 0;
    padding: 0;
}
.motion{
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}